# Global
PROJECT_ENV=development
PROJECT_TIMEZONE=UTC
ASSET_BASE_PATH=
PROJECT_URL=http://127.0.0.1:8080
LOGGER_LEVEL=100 # Debug: 100, Info: 200, Notice: 250, Warning: 300, Error: 400, Critical: 500, Alert: 550, Emergency: 600

# Capsul (Eloquent)
CAPSUL_DRIVER=mysql
CAPSUL_HOST=mysql
CAPSUL_PORT=3306
CAPSUL_DATABASE=project
CAPSUL_USERNAME=root
CAPSUL_PASSWORD=password
CAPSUL_CHARSET=utf8

# Twig
TWIG_AUTO_RELOAD=true

# Session
SESSION_GC_MAXLIFETIME=20160 #seconds

# Translation
TRANSLATION_DEFAULT_LOCALE=tr_TR
TRANSLATION_FALLBACK_LOCALE=tr_TR

# Smtp
SMTP_FROM_EMAIL=___EMAIL___
SMTP_FROM_NAME=___NAME___
SMTP_PASSWORD=____API_KEY___
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_ENCRYPTION=tls
